* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gilroy';
}

.container {
  max-width: 1140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__nav {
  min-height: 80px;
  display: flex;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header__list {
  display: flex;
  height: 100%;
  align-items: center;
}

.header__link {
  margin-right: 50px;
  text-transform: uppercase;
}

.header__li {
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
  border-left: 1px solid #dbd7d7;
  border-right: 1px solid #dbd7d7;
  display: flex;
  align-items: center;

}

.header__language {
  margin-left: 30px;
  width: 65px;
  height: 28px;
  background: #F9F9F9;
  border: 1px solid #EBEBEB;
  border-radius: 14px;
  display: flex;
}

.header__lang {
  height: 100%;
  width: 35px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s linear;
}

.input {
  position: absolute;
  top: -30px;
  opacity: 0;
}


#ru:checked~.ru {
  background: #4EAAE0;
}

#en:checked~.en {
  background: #4EAAE0;
}

.block {
  width: 200px;
  height: 100px;
  border: 2px solid aqua;
  margin: 100px auto;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.block__item {
  width: 90%;
  height: 90%;
  background: rgba(0, 110, 255, 0.616);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(110%);
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 2);

}

.block:hover .block__item {
  transform: translate(0%) rotate(360deg);
}

.header__block {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  display: flex;
}


.header__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 739px;
  background: linear-gradient(195.2deg, #2E9ADB 10.68%, #55B570 89.32%);
}

.footer__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: white;
  margin-top: 136px;
}

.z-text {
  height: 80px;
  width: 730px;
  background: #FFFFFF;
  border-radius: 40px;
  margin-bottom: 20px;
  padding: 30px;
  outline: none;
  border: none;
}

.footer__form {
  display: flex;
  flex-direction: column;
  margin-top: 38px;
}

.footer__btn {
  width: 350px;
  height: 80px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 40px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 900;
}